@page
@model AccesoriosArgentinos._Pages_Piezas.CreateModel

@{
    ViewData["Title"] = "Create";
}
 
<div class="row">
    
        <partial name="_FormPieza" model="@Model.PiezaVM" />
   
</div>

<div>
    <a asp-page="Index">Volver</a>
</div>

